.navbar {
  padding: 10px;
  background-color: #1a1f71;
  border: 0;
  z-index: 4;
  margin-bottom: 0;
  border-radius: 0;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.logo-column {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.select-language-column {
  display: flex;
  align-items: center;
}

.dropdown-toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 5px;
}

.dropdown-menu span {
  padding: 5px;
}

.select-language-column {
  display: flex;
  align-items: center;
  gap: 30px;
}

.language-select {
  margin-right: 10px;
}

.language-link {
  margin-right: 10px;
}

.buttons-column {
  display: flex;
  align-items: center;
}
