$color_1: #00a78e;
$color_2: #fff;
$color_3: #00a78e;
$background-color_1: #fff;
$background-color_2: #00a78e;
$background-color_3: rgba(0, 0, 0, 0.8);
$border-color_1: #00a78e;

@keyframes showItem {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.portfolio {
    .portfolio-filter {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px;
        text-align: center;

        button {
            text-transform: uppercase;
            margin-top: -20px;
            outline: none;
            border: 1px solid;
            border-color: $border-color_1;
            padding: 8px;
            font-weight: 600;
            border-radius: 5px;
            background-color: $background-color_1;
            margin-right: 20px;
            color: $color_1;
            margin-bottom: 20px;
            transition: all 0.3s ease;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $color_2;
                background-color: $background-color_2;
            }
        }

        button.active {
            color: $color_2;
            background-color: $background-color_2;
        }
    }

    .portfolio-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;

        .portfolio-info {
            position: absolute;
            left: 0;
            top: 0;
            background-color: $background-color_3;
            z-index: 1;
            height: 100%;
            width: 100%;
            padding: 30px;
            opacity: 0;
            transition: all 0.3s ease;

            h4 {
                font-size: 18px;
                font-weight: 700;
                color: $color_3;
                text-transform: capitalize;
                transform: translateX(-20px);
                transition: all 0.3s ease;
                opacity: 0;
            }

            .icon {
                height: 40px;
                width: 40px;
                color: $color_2;
                background-color: $background-color_2;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                right: 30px;
                bottom: 30px;
                transform: translateX(20px);
                transition: all 0.3s ease;
                opacity: 0;

                .fa {
                    line-height: 40px;
                }
            }
        }

        &:hover {
            .portfolio-info {
                opacity: 1;

                h4 {
                    transform: translateX(0px);
                    opacity: 1;
                }

                .icon {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }
    }

    .portfolio-item.hide {
        display: none;
    }

    .portfolio-item.show {
        display: block;
        animation: showItem 0.5s ease;
    }

    .portfolio-item-inner {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        position: relative;

        .portfolio-img {
            img {
                width: 100%;
                display: block;
            }
        }
    }
}